.example-header-image {
  background-image: url('https://picsum.photos/600/600/?random');
  background-size: cover;
}

.gkz-viewport {
  height: 90vh;
  width: 100vw;
}

.example-card {
  max-width: 400px;
  max-height: 582px;
  margin: 0 auto;
  margin-bottom: 1em;
}

//  .tile1 {
//   height: 38vh;
//  }